<menu>
    <Services>
        <Flowsight VisibleName="Flowsight" cssClass="fa fa-eye fa-fw" url="/flowsight.php" order="150">
            <Overview VisibleName="Overview" url="/flowsight.php?page=overview"/>
            <Hosts VisibleName="Hosts" url="/flowsight.php?page=hosts"/>
            <Sessions VisibleName="Sessions" url="/flowsight.php?page=flows"/>
            <Applications VisibleName="Applications" url="/flowsight.php?page=apps"/>
            <Web VisibleName="Web" url="/flowsight.php?page=web"/>
            <DNS VisibleName="DNS" url="/flowsight.php?page=dns"/>
            <Threats VisibleName="Threats" url="/flowsight.php?page=threats"/>
            <TLS VisibleName="TLS" url="/flowsight.php?page=tls"/>
            <Policies VisibleName="Policies" url="/flowsight.php?page=policy"/>
            <Devices VisibleName="Devices &amp; zones" url="/flowsight.php?page=enroll"/>
            <Firewall VisibleName="Firewall hygiene" url="/flowsight.php?page=firewall"/>
            <Reports VisibleName="Reports" url="/flowsight.php?page=reports"/>
            <System VisibleName="System" url="/flowsight.php?page=system"/>
            <Settings VisibleName="Settings" url="/flowsight.php?page=modules"/>
        </Flowsight>
    </Services>
</menu>
